@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font: normal 16px 'Roboto', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

h3 {
    line-height: 60%;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background: rgb(113, 243, 117);
    color: rgb(5, 5, 5);
}
a:visited {
    color: rgb(113, 112, 112);
}

.avatar {
    width: 170px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p{
    line-height: normal;
    color: rgb(41, 41, 41);
    margin: 0%;
    font-style: normal;
    text-decoration: none;

}
.info {
    display: flex;
    margin-bottom: 20px;
}
 @media (max-width: 700px) {
     .info {
         text-align: center;
         display: block;
     }  
 }

.info-text {
    margin-left: 25px;
}


.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}
.bg-pink {
    background: #ffede9;
}
.bg-nude {
    background: #fff3fa;
}
.bg-yellow {
    background: #fbf5d6;
}
.bg-green {
    background: #defae0;
}

.card {
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: normal;
    
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 15px;
}

.table td:nth-child(1)  {
    color: #86898f;
}





